%fieldset
  = form_for @guest do |f|
    = f.error_messages
    %ul
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :address
        = f.text_field :address
      %li
        = f.label :side
        = f.text_field :side
      %li
        = f.label :is_adult
        = f.check_box :is_adult
      %li
        = f.label :status
        = f.check_box :status
      / %li
      /   %ul
      /   - Group.all.each do |group|
      /     %li
      /       = check_box_tag :group_ids, group.id, @guest.groups.include?(group), :name => 'guest[group_ids][]'
      /       = label_tag :group_ids, group.name
    
      %li
        = f.submit
