- title "Guests"

%table
  %tr
    %th Name
    %th Address
    %th Side
    %th Is adult
    %th Status
  - for guest in @guests
    %tr
      %td= guest.name
      %td= guest.address
      %td= guest.side
      %td= guest.is_adult
      %td= guest.status
      %td= link_to 'Show', guest
      %td= link_to 'Edit', edit_guest_path(guest)
      %td= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Guest", new_guest_path
