- title "Guests"

%h2 Statistics:

%ul
  %li= link_to "High Priority Count: #{Guest.find_all_by_priority(1).size}", priority_path(1)
  %li= link_to "Medium Priority Count: #{Guest.find_all_by_priority(2).size}", priority_path(2)
  %li= link_to "Low Priority Count: #{Guest.find_all_by_priority(3).size}", priority_path(3)
  %li= "Family Count: #{Group.show_all('Family').size}"
  %li= "Friend Count: #{Group.show_all('Friends').size}"
  %li= "Children Count: #{Guest.find_all_by_is_adult(false).size}"
  %li= "Total Count(ALL) #{@guests.size}"

%p= link_to "Sponsors", sponsors_guests_path

= render :partial => "list", :locals => {:guests => @guests}

%p= link_to "New Guest", new_guest_path
