%h1 Sponsors

%table.tablesorter
  %thead
    %tr
      %th &nbsp;
      %th Name
      %th Address
      %th Side
      %th Is adult
      %th Status
      %th Priority
      %th Groups
      %th Sent STD
      %th Sponsor Type
      %th{:colspan => 2} &nbsp;
  %tbody
    - @guests.each_with_index do |guest, index|
      %tr
        %td= index
        %td= guest.name
        %td= guest.address
        %td= guest.side
        %td= guest.is_adult
        %td= guest.status
        %td= guest.priority
        %td= guest.groups.collect{ |x| "#{x.name}" }.join(", ") if guest.groups
        %td{:class => guest.sent_std.to_s }= guest.sent_std
        %td= guest.sponsor_type
        %td= link_to 'Edit', edit_guest_path(guest)
        %td= link_to 'Delete', guest, :confirm => 'Are you sure?', :method => :delete
